{% extends "layout.html" %} 

{% block title %} How to Play {% endblock %} 

{% block main%}
	<div class="container">
		<div class = "row">
		<div class="col-sm">
			<h1 class="title">
				Welcome to Poker Hub!
			</h1>
			<p>
				On this webiste we'll teach you everything you need to know to be great at Texas Hold'em Poker. 
				Poker can be a complicated game, so let's start with the basics on how to play.
			</p>
			<h2 class="title2">
				The Basics
			</h2>
			<p>
				To start off the game, each player is dealt two cards face down.
				Over four total betting rounds, five more cards will be dealt face up in the middle of the table.
			</p>
			<p>
				The goal of a Texas hold'em game is to use your two cards in combination with the five dealt cards on the talbe to make the best possible five-card hand.
			</p>
			<p>
				As the hand is played, the 5 additional cards will be dealt to the table in three stages:
				<br>
				The Flop: the first three cards
				<br>
				The Turn: the fourth card
				<br>
				The River: The fifth card
			</p>
			<p>
				After all five cards are dealt, if you are still playing in the hand, you compare your five card hand to each other player. The player with the best 5 cards according to the poker hand rankings wins the hand.
			</p>
			<h2 class="title2">
				Playing a hand
			</h2>
			<p>
				Continue rules...
			</p>
			
		</div>
		<div class="col-sm">
			<img src="/static/images/pocket_aces.jpg" alt="Pocket Aces">
			<img src="/static/images/hand_tier_list.jpg" alt="Hand Tier list">
		</div>
	</div>
	</div>
{% endblock %}