{% extends "layout.html" %} 

{% block title %} Log {% endblock %}

{% block main%}
    {% if error_message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error_message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <section class="h">   
        <div class="heading-wrapper">
            <h3 class="heading">Session Log. Click the dropdowns to view your hand history!</h3>
        </div>
    </section>
    <section class="list">
        <div class="container">
            <div class="accordion">
                <div class="accordion-item">
                    <a class="accordion-link" href="#session1">
                        SESSION GOES HERE
                        <ion-icon name="add-circle-outline"></ion-icon>
                        <ion-icon name="remove-circle-outline"></ion-icon>
                    </a>
                    <div class="data">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HAND ITEM 1</td>
                                    <td>HAND ITEM 2</td>
                                
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="edit">
        <div class="tub">
            <div class="btn-add-session">
                <button class="btn submit-btn modify"><span>Modify Session</span></button>
            </div>
            <div class="dropdown">
                <div class="select">
                    <span class="selected">Select Session</span>
                    <div class="caret"></div>
                </div>
                <ul class="menu">
                    <li>item 1</li>
                    <li>item 2</li>
                </ul>
            </div>
        </div>
        <div class="btn-add-session">
            <button class="btn submit-btn new"><span>New Session</span></button>
        </div>
    </section>


    
    <script>
        const dropdowns = document.querySelectorAll('.dropdown');

        // loop thru dropdown elements

        dropdowns.forEach(dropdown => {
            const select = dropdown.querySelector('.select');
            const caret = dropdown.querySelector('.caret');
            const menu = dropdown.querySelector('.menu');
            const options = dropdown.querySelectorAll('.menu li');
            const selected = dropdown.querySelector('.selected');

            // add a click event to the select element
            select.addEventListener('click', () => {
                select.classList.toggle('select-clicked');
                // add rotate styles to caret element
                caret.classList.toggle('caret-rotate');
                // add open styles to menu element
                menu.classList.toggle('menu-open');

            });

            // loop through all option elements
            options.forEach(option => {
                // add a click event to the option element
                option.addEventListener('click', () => {
                    // change selected inner text to clicked option inner text
                    selected.innerText = option.innerText;
                    // add the clicked styles to the select element
                    select.classList.remove('select-clicked');
                    // add the rotate styles to the caret element
                    caret.classList.remove('caret-rotate');
                    // add the open styles to the menu element
                    menu.classList.remove('menu-open');
                    // remove active class from all option elements
                    options.forEach(option => {
                        option.classList.remove('active');
                    });
                    // add active class to clicked option element
                    option.classList.add('active');
                });
            });
        });
    </script>    

{% endblock %}
