{% extends "layout.html" %} 

{% block title %} Login {% endblock %} 



{% block main%}
    {% if error_message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error_message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="form-wrapper">
        <div class="form-container">
            <div class="form-left">
                <div class="content">
                    <h3>Welcome to PokerHub</h3>
                </div>
            </div>
            <div class="form-right">
                <div class="social-login">
                    <div class="social-item">
                        <div class="icon">
                            <img src="/static/images/google.png" alt="">
                        </div>
                        <div class="social-handle">
                            Continue with Google
                        </div>
                    </div>
                    <div class="social-item">
                        <div class="icon">+
                            <img src="/static/images/facebook.png" alt="">
                        </div>
                        <div class="social-handle">
                            Continue with Facebook
                        </div>
                    </div>
                </div>
                <div class="login-form">
                    <form action="/login" method="POST">
                        <div class="user-input">
                            <input type="email" id="email" name="email" placeholder="Email Address">
                            <input type="password" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="remember-me">
                            <label for="">
                                <input type="checkbox" name=""> Keep me signed in.
                            </label>
                        </div>
                        <div class="btn-signin">
                            <button class="button submit-btn"><span>Sign In</span></button>
                        </div>
                    </form>
                    <a href="#" class="fp-link">Forgot Password?</a>
                    <div class="signup">
                        <p>Don't have an account? <a href="/register">Sign Up</a> </p>
                    </div> 
                </div>
            </div>
        </div>
    </div>

{% endblock %}