{% extends "layout.html" %} 

{% block title %} Odds Calculator {% endblock %}

{% block main%}
    <div class="container">
        <h1 class="title">
            Calculate Your Odds to Win!
        </h1>
    </div>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
{% endblock %}