{% extends "layout.html" %} 

{% block title %} Odds Calculator {% endblock %}

{% block main%}
    <div class="container">
        <h1 class="title">
            Calculate Your Odds to Win!
        </h1>
    </div>
    <form action="/odds" method="post">
        <div class="mb-3">
            Add Cards from Hand 1
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="h1card1" placeholder="Card 1">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="h1card2" placeholder="Card 2">
            Add Cards from Hand 2
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="h2card1" placeholder="Card 1">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="h2card2" placeholder="Card 2">
        </div>
        <button class="btn btn-primary" type="submit">Submit Hands</button>
    </form>
{% endblock %}