{% extends "layout.html" %} 

{% block title %} Odds Calculator {% endblock %}

{% block main%}
    <div class="container">
        <h1 class="title">
            Calculate Your Odds to Win!
        </h1>
    </div>
    <form action="/odds" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option selected=>Stock Symbol</option>"
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" min="0" name="shares" placeholder="Number of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}