{% extends "layout.html" %} 

{% block title %} Home {% endblock %} 

{% block main%}
	<div class="container">
        <h1>
            Tips and Tricks
        </h1>
        <h6>
            Below are a few resources you can use to learn more about important poker concepts and bring your game to the next level.
        </h6>
        <h2>
            Intermediate
        </h2>
		<div class = "row">
		<div class="col-sm">
            <img src="/static/images/pocket_aces.jpg" alt="Pocket Aces">
            <h2>
                Bluffing
            </h2>
			<p>
				Definition
                <br>
                Links
            </p>
		</div>
		<div class="col-sm">
			<img src="/static/images/pocket_aces.jpg" alt="Pocket Aces">
            <h2>
                Hand Reading
            </h2>
			<p>
				Definition
                <br>
                Links
            </p>
		</div>
        <div class="col-sm">
			<img src="/static/images/pocket_aces.jpg" alt="Pocket Aces">
            <h2>
                Tells
            </h2>
			<p>
				Definition
                <br>
                Links
            </p>
		</div>
        <h2>
            Advanced
        </h2>
        <div class = "row">
            <div class="col-sm">
                <img src="/static/images/pocket_aces.jpg" alt="Pocket Aces">
                <h2>
                    Ranges
                </h2>
                <p>
                    Definition
                    <br>
                    Links
                </p>
            </div>
            <div class="col-sm">
                <img src="/static/images/pocket_aces.jpg" alt="Pocket Aces">
                <h2>
                    3-Betting
                </h2>
                <p>
                    Definition
                    <br>
                    Links
                </p>
            </div>
        </div>
	</div>
{% endblock %}