{% extends "layout.html" %} 

{% block title %} Home {% endblock %} 

{% block main%}
	<div class="container">
        <h1 class = "title">
            Tips and Tricks
        </h1>
        <h6 class="title3">
            Below are a few resources you can use to learn more about important poker concepts and bring your game to the next level. 
            Here are some resources to learn more:
        </h6>
        <h2 class="title2">
            Intermediate
        </h2>
		<div class = "row">
		<div class="col-sm">
            <img class="round_image" src="/static/images/bluffing.gif" alt="Pocket Aces">
            <h2 class="title2">
                Bluffing
            </h2>
			<p class="body">
				Bluffing is bet a large amount on a weak hand in order to make oppenents think you have a strong hand. 
                When you bluff, you are trying to convince your oppents to fold out of fear that you have a better hand then them, even though you don't. 
                Here are some resources to learn more:
                <br>
                Links
            </p>
		</div>
        <div class="col-sm">
			<img class="round_image" src="/static/images/tells.jpeg" alt="Pocket Aces">
            <h2 class="title2">
                Tells
            </h2>
			<p class="body">
				Tells are specific actions that players repeat that seem to indicate the nature of their hand. 
                Things like a sigh, a slight smile, or even fiddling with chips can give away specific information about a players hand. 
                This strategy often requires you to know the other players well. 
                Here are some resources to learn more:
                <br>
                Links
            </p>
		</div>
        <div class="col-sm">
			<img class="round_image" src="/static/images/hand_reading.webp" alt="Pocket Aces">
            <h2 class="title2">
                Hand Reading
            </h2>
			<p class="body">
				Hand Reading is trying to assign a player a range of hands that you think they likely fall into based on their actions. 
                By using tells, you can estimate the strength of a players hand, and play accordingly.
                Here are some resources to learn more:
                <br>
                Links
            </p>
		</div>
        <h2 class="title2">
            Advanced
        </h2>
        <div class = "row">
            <div class="col-sm">
                <img class="round_image" src="/static/images/ranges.png" alt="Pocket Aces">
                <h2 class="title2">
                    Ranges
                </h2>
                <p class="body">
                    Ranges are a range of hands you are going to play a certain way. 
                    Depending on what position you are, and your play style, there are a certain set of hands you will call, others you will bet, and some you will fold. 
                    A range chart makes this decision making easy, as it displays all of the possible cards combinations and how to play for each of them. 
                    You can also choose a range chart catered to your play style, depending on how risky you like to play.
                    Here are some resources to learn more:
                    <br>
                    Links
                </p>
            </div>
            <div class="col-sm">
                <img class="round_image" src="/static/images/3bet.webp" alt="Pocket Aces">
                <h2 class="title2">
                    3-Betting
                </h2>
                <p class="body">
                    A 3-bet is when after someone raises from the intial bet, another player re-raises. 
                    In a game, you only want to do this very specific circumstances, like when you have a very good hand, or when you are trying to bluff that you have a very good hand.
                    Learning when to 3-bet takes time and practice. Here are some resources to learn more:
                    <br>
                    Links
                </p>
            </div>
        </div>
	</div>
{% endblock %}